@charset "utf-8";

/**
 *
 * ----------------------------------------------------------
 *
 * Template : AmarSolution - Business & Consulting HTML Template
 * Author : AkaarIt
 * Author URI : https://akaarit.com/
 *
 * ----------------------------------------------------------
 *
 **/

 /* Layout Min 1400px */
 @media only screen and (min-width:1400px){
    .lineChart-container{
        height: 500px;
    }
 }

 /* Layout: Min 1201px */
 @media only screen and (min-width:1201px){

    .ams-sidebar {
        position: fixed;
        z-index: 100;
    }

    .ams-sidebar.active li > a > span{
        opacity: 0;
        visibility: hidden;
    }
    
    .ams-sidebar.active .sidebar-menu {
        overflow: initial;
    }

    .ams-sidebar.active .has-menu:hover > .sub-menu{
        display: block !important;
        min-width: 150px;
        padding: 8px 0 0 0;
        box-shadow: 2px 2px 4px rgb(0 0 0 / 8%);
        text-align: center;
    }

    .ams-sidebar.active .sub-menu::before,
    .ams-sidebar.active .sub-menu li a::before{
        content: none;
    }

    .ams-sidebar.active .sub-menu li a{
        justify-content: center;
    }
    
    .ams-sidebar.active .menu-name{
        display: block;
        font-weight: 700;
        border-bottom: 1px solid rgba(0, 0, 0 , .2);
        text-transform: uppercase;
    }

    .ams-sidebar.active .sidebar-search{
        width: 45px;
        height: 45px;
        padding: 0 10px;
        border-radius: 50%;
        margin: 8px auto;
        background: #e9f7f0;
    }

    .ams-sidebar.active input{
        position: absolute;
        width: 130px;
        height: 40px;
        top: 0;
        left: 90%;
        background-color: #fff;
        border: 1px solid #af126e;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

    .ams-sidebar.active .sidebar-search:hover input{
        visibility: visible;
        opacity: 1;
    }

    .ams-sidebar.active .sidebar-search i{
        right: 25%;
        top: 50%;
        transform: translate(-25%,-50%);
    }

    .ams-login-form{
        width: 55%;
    }

 }

 /* Layout: Max 1600px  */
@media only screen and (max-width: 1600px) {
    .ams-admin{
        margin: 0 0 0 8px;
    }

    .single-info-box,
    .single-stat-box{
        padding: 16px;
    }

    .single-info-box .info-box-icon{
        height: 50px;
        font-size: 20px;
        line-height: 50px;
    }

    .info-boxes-2 .info-box-icon{
        width: 60px;
    }

    .single-info-box{
        grid-template-columns: 50px 1fr;
        grid-column-gap: 20px;
        
    }

    .info-box-content h1{
        font-size: 26px;
    }
}


/* Layout: Max 1400px  */
@media only screen and (max-width: 1400px) {

    .info-box-content h1{
        font-size: 20px;
    }

    h2{
        font-size: 16px;
    }

    h5{
        font-size: 18px;
    }

    h6{
        font-size: 14px;
    }

    .ams-sidebar li a{
        padding: 6px 0;
    }

    .sidebar-menu .nav-expand i{
        top: 15px;
        font-size: 14px;
    }

    .sidebar-menu .sub-menu .nav-expand i{
        top: 10px;
    }

    .table>:not(caption)>*>*{
        font-size: 13px;
    }

    /* .sub-menu li a::before{
        top: 15px;
        left: -10px;
    } */

    .dataTable-info-wpr{
        padding: 16px 0;
    }

    .sidebar-menu .sub-menu{
        padding-left: 58px;
    }

    .sidebar-menu .sub-menu .sub-menu{
        padding-left: 16px;
    }
    
    #supplierList{
        /* display: block; */
        overflow-x: scroll;
        overflow-y:hidden;
        white-space: nowrap;
    }

    .product-list .single-product img{
        width: auto;
        height: 90px;
    }

    .product-list .product-details{
        padding: 10px;
    }

    .product-list-container{
        height: 73vh;
    }

    .product-list .single-product .product-image {
        padding: 5px 10px;
    }

    .login-heading img{
        max-width: 250px;
    }

    .dataTable th::after{
        margin-left: 2px;
    }
}

/* Layout: Max Width 1300px */
@media only screen and (max-width:1300px){
    #supplierList-2{
        display: block;
        overflow-x: scroll;
        overflow-y:hidden;
        white-space: nowrap;
    }

    .sidebar-menu .nav-expand i{
        top: 20px;
        font-size: 12px;
    }
}

@media only screen and (min-width:1201px){

    #ams-cart .ams-sidebar{
        /* width: 60px; */
        width: 0;
    }

    #ams-cart .ams-main-content{
        left: 0;
        width: 100%;
        /* left: 60px;
        width: calc(100% - 60px); */
    }

    #ams-cart .ams-sidebar .sidebar-menu .nav-expand i{
        visibility: hidden;
        opacity: 0;
    }

    #ams-cart .ams-sidebar .sidebar-menu .sub-menu{
        position: absolute;
        top: 0;
        left: 97%;
        border-radius: 0 5px 5px 0;
        z-index: 1;
    }
}

/* Layout: Max 1200px  */
@media only screen and (max-width: 1200px) {

    .ams-nav-wpr, .ams-sidebar.active + .ams-main-content .ams-nav-wpr {
        width: 100%;
        left: 0;
    }

    .ams-sidebar .brand-logo{
        box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
    }

    .ams-sidebar li:first-child a{
        margin-top: 0;
    }

    .ams-sidebar {
        position: fixed;
        height: calc(100vh - 55px);
        left: -280px;
        top: 55px;
        background-color: #fff;
        z-index: 1;
        transition: .3s;
    }

    .pos-sidebar{
        top: 0;
        display: none;
    }

    .ams-sidebar.active{
        width: 280px;
        left: 0;
    }
    
    .ams-sidebar .sidebar-menu{
        overflow: scroll;
        margin-top: -1px;
        padding-bottom: 40px;
    }

    .ams-sidebar.active li .nav-icon{
        min-width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .ams-sidebar .sidebar-menu::-webkit-scrollbar {
        width: 3px;
    }

    .ams-sidebar .sidebar-menu::-webkit-scrollbar-thumb {
        background: #5f38f9;
    }

    .ams-main-content,
    .ams-sidebar.active + .ams-main-content{
        width: 100%;
        left: 0;
        overflow-x: hidden;
    }

    .ams-sidebar.active .sidebar-menu .nav-expand i{
        visibility: visible;
        opacity: 1;
    }

    .ams-sidebar.active .sidebar-menu .sub-menu,
    .ams-sidebar.active .sidebar-menu .sub-menu ul{
        position: relative;
        left: 0;
    }

    .ams-nav-wpr.fixed{
        position: fixed;
        width: 100%;
        /* height: 65px; */
        background-color: #fff;
        z-index: 1;
    }

    .ams-nav-wpr.fixed + .ams-main-content-wpr{
        margin-top: 65px;
    }

    .single-info-box{
        grid-template-columns: 60px 1fr;
        grid-column-gap: 20px;
    }

    .single-info-box .info-box-icon{
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 26px;
    }

    .product-list .single-product img{
        height: 85px;
    }

    .ams-cart .nav-toggle{
        display: block !important;
    }

    .cart-table td{
        font-size: 15px;
    }

    .product-cart-2 .cart-btn{
        width: 80px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
}

/* Layout Max Width 1199px */
@media only screen and (max-width:1199px){
    .lineChart-container{
        height: 445px;
    }
}

/* Layout: Max Width 1099px */
@media only screen and (max-width:1099px){

    .lineChart-container{
        height: 410px;
    }

    .ams-login-form{
        width: 70%;
    }

    .nav-item:last-child i{
        display: block;
    }

    .main-nav{
        position: absolute;
        width: 250px;
        right: 0;
        top: 120px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
        padding: 14px 0;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }

    .main-nav li{
        display: block;
    }

    .main-nav li a{
        text-align: center;
        border: 0;
    }

    .main-nav.move{
        top: 65px;
        visibility: visible;
        opacity: 1;
    }

    .admin-details{
        display: none;
    }

    .product-list{
        grid-template-columns: repeat(3,1fr);
    }

    .product-list .single-product .product-image{
        text-align: center;
    }
}

/* Layout: Max Width 1024px */
@media only screen and (max-width:1024px){

    .lineChart-container {
        height: 380px;
    }
    
    .ams-customer-add-form .input-group{
        grid-template-columns: 1fr;
        margin-top: 50px;
    }

    /* .main-navigation{
        display: none;
    } */
}

/* Min Width 992px */
@media only screen and (min-width:992px){

    .product-list-container{
        height: calc(100vh - 150px);
        overflow: auto;
    }

    .product-cart{
        height: 95vh;
    }

    .product-cart-2{
        height: calc(100vh - 60px);
    }

    .ams-cart.ams-main-content{
        position: fixed;
        height: 100vh; 
    }

    .ams-products{
        height: calc(100vh - 60px);
    }

    .cart-footer{
        position: fixed;
        bottom: 0;
    }

    .cart-total-calc{
        height: 40vh;
        overflow-y: auto;
    }
}

/* Layout: Max Width 991px */
@media only screen and (max-width:991px){

    .nav-left{
        position: relative;
    }

    .main-navigation{
        max-width: 310px;
        overflow-x: scroll;
    }

    .main-navigation .sub-menu{
        left: 50%;
        transform: translateX(-50%);
    }

    .ams-login-form{
        width: 90%;
    }

    .ams-customer-add-form .input-group.input-verticle{
        grid-template-columns: repeat(2,1fr);
    }

    #supplierList{
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }

    #supplierList thead{
        display: none;
    }

    #supplierList ,
    #supplierList tbody,
    #supplierList tr,
    #supplierList td{
        display: block;
        width: 100%;
    }

    #supplierList tr{
        margin-bottom: 32px;
    }

    #supplierList tr td{
        position: relative;
        min-height: 40px;
        text-align: right;
        border-bottom: 1px solid #dddddd;
    }

    #supplierList tr td:last-child{
        border-bottom: none;
    }

    #supplierList td::before{
        position: absolute;
        content: attr(data-label);
        left: 0;
        width: 50%;
        padding-left: 24px;
        font-weight: 700;
        text-align: left;
    }

    .action-dropdown .dropdown-content{
        left: auto;
        right: 0;
    }

    .input-double{
        padding-left: 0;
        padding-right: 0;
    }

    .product-list-container{
        height: auto;
    }

    .product-list{
        grid-template-columns: repeat(4,1fr);
        margin-bottom: 50px;
    }

    .product-list .single-product img{
        height: 130px;
    }

    .cart-footer{
        position: fixed;
        bottom: 0;
    }

    .product-cart{
        margin:-30px 0  50px
    }

    .product-cart-2{
        margin: 0;
    }

    .count-btn{
        left: 26%;
    }

    .increment{
        left: auto;
        right: 26%;
    }

    .cart-summary{
        margin-top: 24px;
    }

    .product-cart-2 .cart-btn{
            width: 100px;
            height: 50px;
            font-size: 20px;
            line-height: 50px;
    }


    .cart-summary{
        margin-bottom: 40px;
    }

    .panel-advanced-search form{
        grid-template-columns: repeat(2,1fr);
    }

    .panel-search-box form{
        grid-template-columns: repeat(3,1fr);
    }

    .user-container.active #user-table{
        width: 240px;
    }

    .user-container.active .fill{
        left: 240px;
        width: calc(100% - 240px);
    }

    .user-pro{
        margin-top: 10px;
    }

    .fill .nav-tabs{
        height: 60px;
        padding-top: 22px;
    }

    .btn-toolbar .btn{
        padding: 4px 8px;
    }

}

/* Layout: Max Width 767px */
@media only screen and (max-width:767px){

    .lineChart-container{
        height: 320px;
    }

    #supplier-table_wrapper .row:first-child div[class^='col-']{
        width: 50% !important;
    }

    #supplier-table_wrapper *{
        text-align: left;
    }

    .ams-customer-add-form .input-group.input-verticle{
        grid-template-columns: 1fr
    }

    .panel-toolbar-menu{
        display: none;
    }

    .user-container.active .fill{
        left: 0;
        width: 100%;
    }

    .fill .nav-tabs{
        height: 40px;
        padding-top: 2px;
    }

    .user-container.active .fill{
        border-left: none;
    }

    .btn-toolbar .btn{
        font-size: 14px;
    }
}

/* Layout: Max Width 576px */
@media only screen and (max-width:576px){

    .mc-activity-card-title{
        flex-wrap: wrap;
    }
    
    .nav-right > *{
        display: none;
    }

    .nav-right .ams-admin-wpr,
    .nav-right span:last-child{
        display: flex !important;
    }

    .ams-customer-add-form{
        padding: 40px 0;
    }

    .dropdown-content{
        transform: translateY(120px);
    }

    .show{
        transform: translateY(60px);
        right: 2%;
    }

    .product-cart{
        margin-bottom: 20px;
    }

    .cart-footer-btn{
        min-width: 50px;
        font-size: 20px;
        padding: 10px 8px;
    }

    .total-sell{
        font-size: 26px;
    }

    .quantity{
        position: relative;
    }

    .count-btn{
        position: absolute;
        left: 5%;
    }

    .increment{
        left: auto;
        right: 5%;
    }

    .panel-search-box form{
        grid-template-columns: repeat(2,1fr);
    }

    .activities{
        margin-top: -24px;
    }
}

/* Layout: Max Width 480px */
@media only screen and (max-width:480px){

    .lineChart-container{
        height: 250px;
    }

    .ams-login-form{
        grid-template-columns: 1fr;
    }

    .form-image{
        display: none;
    }
    
    .add-btn{
        padding: 7px 14px;
    }

    .dataTable-info-wpr,
    .panel-toolbar{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .stack-chart{
        height: 450px;
    }

    .ams-input{
        grid-template-columns: 1fr;
        text-align: left;
    }

    .ams-input .add-input{
        top: 24px;
    }

    .product-list{
        grid-template-columns: repeat(2,1fr);
    }

    .product-cart{
        padding: 18px 5px;
    }

    .product-cart .ams-input .add-input{
        top: 0;
    }

    .cart-table td{
        font-size: 13px;
        font-weight: 500;
    }

    .quantity{
        height: 24px;
        padding: 3px 0;
    }

    .quantity::before,
    .quantity::after{
        width: 24px;
        height: 110%;
        line-height: 20px;
        left: -14px;
    }

    .quantity::after{
        left: auto;
        right: -14px;
    }

    .total-sell{
        width: 30%;
        font-size: 20px;
        margin: 0 37px;
    }

    .total-table td{
        font-size: 14px;
    }

    .cart-footer{
        justify-content: flex-start;
    }

    .cart-footer-btns{
        width: 100%;
    }

    .cart-footer-btn{
        font-size: 14px;
        padding: 20px 10px;
    }

    .cart-summary{
        margin-bottom: 90px;
    }

    .cart-footer-2{
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 8px;
    }

    .back-btn{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ams-login-2{
        padding: 0 8%;
    }

    .ams-login-form{
        padding: 10% 5%;
    }

    .login-heading img{
        width: 100%;
    }

    /* .donat-chart{
        height: 450px;
    } */

    #supplier-table_wrapper .row:first-child{
        gap: 16px;
    }

    #supplier-table_wrapper .row:first-child div[class^='col-']{
        width: 100% !important;
    }
}

/* Layout: Max WIdth 416px */
@media only screen and (max-width:416px){

    .main-navigation{
        max-width: 200px;
    }

    .ams-panel-wpr{
        padding: 0 16px;
    }

    .radial-chart{
        height: 415px;
    }

    .panel-search form{
        grid-template-columns: 1fr;
    }

    .user-pro .profile-pic,
    .users-thumbnail{
        width: 45px;
        height: 45px;
    }

    .dataTable-length select{
        padding: 3px 6px;
    }

}

/* Layout: Max Width 380px */
@media only screen and (max-width:380px){
    .admin-details{
        display: none;
    }

    .product-btns a{
        font-size: 15px;
        padding: 5px 10px;
        margin-top: 5px;
    }

    .panel-heading{
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .cart-table{
        overflow-x: auto;
    }

    .cart-table td{
        min-width: 100px !important;
    }

    .total-table td{
        font-size: 14px;
    }

    .cart-footer{
        justify-content: center;
    }

    .cart-footer-btn{
        font-size: 12px;
        padding: 22px 4px;
    }

    .cart-footer-2{
        padding-right: 5px;
    }

    .cart-footer-2 .cart-btn{
        width: 80px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        margin-left: 4px;
    }

    .ams-login-2{
        padding: 0;
    }

    .login-heading{
        margin-bottom: 16px !important;
        margin-top: 24px;
    }

    .ams-login-form{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .user-details-row{
        display: block;
        margin-left: 0;
    }

    .fill .user-details-header{
        height: 190px;
        padding: 10px;
    }
}

/* Layout: Max Width 320px */
@media only screen and (max-width:320px){
    
    .total-sell{
        width: 20%;
        margin: 0 10px;
    }

    .cart-input{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-input input{
        margin-left: 0;
    }

    .ams-login-input{
        padding: 0 16px;
    }

    .login-heading{
        margin-bottom: 16px !important;
        margin-top: 24px;
    }

    .forget-pass{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

